<template lang="html">
  <article :class="{ published:published }" class="post" v-if="post">
    <div class="editor" v-if="canEdit">
      <router-link class="editor" :to="{ name: 'edit', params: { id: post.id } }">Edit</router-link>
    </div>
    <header>
      <div class="title">
        <h2>
          <router-link :to="{ name: 'thot', params: { id: post.id } }">
            {{ this.cleanTitle(post.title) }}
          </router-link>
        </h2>
        <p>
          <a class="icon fa-twitter" target="_blank" :href="share.twitter"> Tweet</a> &nbsp;
          <!--<a class="icon fa-facebook" target="_blank" :href="share.facebook">Facebook</a>-->
        </p>
      </div>
      <div class="meta">
        <span class="status" v-if="isDashboard">
        <span class="status" v-if="isPublished">Published</span>
        <span class="status" v-else>Draft</span>
        </span>
        <time class="published" datetime="2015-10-22">{{ this.cleanDate(post.created_at) }}</time>
        <a href="#" class="author"><span class="name">{{ post.author.name }}</span></a>
      </div>
    </header>
    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
    <p class="post__body">{{ this.cleanTitle(post.body) }}</p>
    <footer>
      <ul class="actions">
        <li>
          <router-link class="button big" :to="{ name: 'thot', params: { id: post.id } }">
            Continue Reading
          </router-link>
        </li>
      </ul>
      <ul class="stats">
        <li><a href="#">General</a></li>
        <!--<li><a href="#" class="icon fa-heart">28</a></li>-->
        <!--<li><a href="#" class="icon fa-comment">128</a></li>-->
      </ul>
    </footer>
  </article>
</template>

<script>
    /* eslint-disable */
  import axios from 'axios';
  export default {
      name: 'BlackThotPostCard',
      props: ['id', 'post', 'published'],
      data () {
          return {
              endpoint: process.env.API_URL + 'stories/',
              token: process.env.API_CLIENT_TOKEN,
              canEdit:false,
              share: {
                  twitter: '',
                  facebook: ''
              },
              isDashboard: this.$route.name === 'dashboard',
          }
      },

      created () {
          if (this.$route.name === 'dashboard') {
              this.canEdit = true;
          }
          this.share.twitter = 'https://twitter.com/intent/tweet?text=' + encodeURI('Read my latest on BLACKTHOT ' + process.env.CLIENT_BASE_URL + '/' + this.id);
          this.share.facebook = 'https://www.facebook.com/sharer.php?u=' + encodeURI(process.env.CLIENT_BASE_URL + '/' + this.id);
      },

      computed: {
          isPublished: function()  {
              let published = false;
              this.post.collections.forEach(function(collection) {
                  if (collection.id === process.env.COLLECTION_ID && collection.status === 1) {
                      published = true;
                  }
              });
              return published;
          }
      },

      methods: {
          cleanDate (date) {
              return moment(date).format("MMMM DD, YYYY");
          },
          cleanTitle (title) {
              let temp = document.createElement('div');
              temp.innerHTML = title;
              return temp.textContent || temp.innerText || "";
          },
          getPost (id) {
              axios
                  .get(this.endpoint + id, { headers: {'Authorization': 'Bearer ' + this.token} })
                  .then(response => {
                      this.post = response.data.data
                  })
                  .catch(error => {
                      console.log(error);
                  })
          }
      }
  }
</script>

<style scoped>
  article.published {
    background-color: #2ebaae;
  }

  article .status,
  article .editor {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 600;
    height: 4.8125em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  article .editor {
    font-weight: 800;
    font-size: 1em;
  }
  a.fa-twitter:hover {
    color: #f88a27 !important;
  }
  a.fa-twitter:hover::before {
    color: #f88a27 !important;
  }
</style>