<template lang="html">
  <article v-if="post" class="post">
    <header>
      <div class="title">
        <h1><a href="#">{{ title }}</a></h1>
        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
      </div>
      <div class="meta">
        <time class="published" datetime="2015-11-01">{{ date }}</time>
        <a href="#" class="author"><span class="name">{{ post.author.name }}</span><img src="../../assets/avatar.jpg" alt="" /></a>
      </div>
    </header>
    <span class="image featured"><img src="../../assets/images/pic01.jpg" alt="" /></span>
    <section v-html="post.body" class="post__body"></section>
    <footer>
      <ul class="stats">
        <li><a href="#">General</a></li>
        <li><a href="#" class="icon fa-heart">28</a></li>
        <li><a href="#" class="icon fa-comment">128</a></li>
      </ul>
    </footer>
  </article>
</template>

<script>
    /* eslint-disable */
  import axios from 'axios';
  export default {
      name: 'BlackThotPost',
      props: ['id'],
      data () {
          return {
              post: null,
              date: '',
              endpoint: process.env.API_URL + 'stories/' + this.id + process.env.PLATFORM,
              token: process.env.API_CLIENT_TOKEN
          }
      },

      created () {
          this.getPost(this.id);
      },

      watch: {
          '$route' () {
              this.getPost(this.id);
          }
      },

      methods: {
          cleanTitle(title) {
              let temp = document.createElement("div");
              temp.innerHTML = title;
              return temp.textContent || temp.innerText || "";
          },
          getPost (id) {
              axios
                  .get(this.endpoint, { headers: {'Authorization': 'Bearer ' + this.token} })
                  .then(response => {
                      this.post = response.data.data;
                      this.date = moment(this.post.created_at).format("MMMM DD, YYYY");
                      this.title = this.cleanTitle(this.post.title);
                  })
                  .catch(error => {
                  })
          }
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-size: .75em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .4rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
