<template>
    <div id="main" class="dashboard">
        <div class="action">
            <router-link
                    active-class="is-active"
                    tag="button"
                    :to="{ name: 'write'}">
                Write
            </router-link>
        </div>
        <div v-if="posts">
        <black-thot-post-card
                v-for="post in posts"
                :key="post.id"
                active-class="is-active"
                class="link"
                :id="post.id"
                :published="post.justPublished"
                :post="post"
                :to="{ name: 'thot', params: { id: post.id } }">
            <li>{{post.id}}. {{post.title}}</li>
        </black-thot-post-card>
        </div>

        <!-- Pagination -->
        <ul class="actions pagination">
            <li><a href="" class="disabled button big previous">Previous Page</a></li>
            <li><a href="#" class="button big next">Next Page</a></li>
        </ul>

    </div>
</template>

<script>
    /* eslint-disable */
    import BlackThotPostCard from "./posts/BlackThotPostCard";
    import axios from 'axios';
    import auth from '../auth';
    export default {
        name: 'BlackThotHome',
        components: {BlackThotPostCard},
        data () {
            return {
                msg: 'A PARIWO Platform',
                posts: [],
                endpoint: process.env.API_URL + 'stories/?platform=' + process.env.PLATFORM_ID,
                token: '',
                published: null
            }
        },
        created () {
            this.checkToken();
            if (auth.loggedIn) {
                this.getAllPosts();
            }
        },

        methods: {
            getAllPosts () {
                axios
                    .get(this.endpoint, { headers: {'Authorization': 'Bearer ' + this.token} })
                    .then(response => {
                        this.posts = response.data.data.reverse().map(post=> {
                            post.justPublished=false;
                            if (this.$route.query && this.$route.query.published == post.id) {
                                post.justPublished=true;
                            }
                            return post;
                        });
                    })
                    .catch(error => {
                        console.log(this.posts);
                    })
            },
            checkToken () {
                if (!auth.loggedIn) {
                    window.location.replace(process.env.CLIENT_BASE_URL);
                }

                this.token = auth.getToken();
            }
        },
        watch: {
            $route (to, from) {
            }
        }
    }
</script>

<style>

</style>
