<template>
    <div>
        <div v-if="loggedIn">
            Welcome
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                    <b-form-group id="btEmail"
                                  label="Email address:"
                                  label-for="btEmail">
                        <b-form-input id="btEmail"
                                      type="email"
                                      v-model="form.email"
                                      required
                                      placeholder="Enter email">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="btPassword"
                                  label="Password"
                                  label-for="btPassword">
                        <b-form-input id="btPassword"
                                      type="password"
                                      v-model="form.password"
                                      required>
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="exampleInputGroup3"
                                  label="Food:"
                                  label-for="exampleInput3">
                    </b-form-group>
                    <b-button type="submit" variant="primary">Login</b-button>
                    <b-button type="reset" variant="danger">Signup</b-button>
                </b-form>
            </div>
    </div>
</template>

<script>
export default {
    name: 'BlackThotLogin',
    props: ['id'],
    data () {
        return {
            loggedIn: false,
            form: {
                email: '',
                password: ''
            },
            show: true
        }
    },
    methods: {
        onSubmit (evt) {
            evt.preventDefault();
            alert(JSON.stringify(this.form));
        },
        onReset (evt) {
            evt.preventDefault();
            /* Reset our form values */
            this.form.email = '';
            this.form.password = '';
            /* Trick to reset/clear native browser form validation state */
            this.show = false;
            this.$nextTick(() => { this.show = true });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-size: .75em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .4rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
