<template>
    <div>
        <div v-if="loggedIn">
            Welcome
        </div>
        <div id="login" class="col-xs-12">
            <br>
            <a :href="login" class="login">Log in with PARIWO</a><br /><br />
            <a :href="signup" class="signup">Sign up for PARIWO</a><br />
        </div>
    </div>
</template>

<script>
    import auth from '../auth'
    export default {
        name: 'BlackThotLogin',
        props: ['id'],
        data () {
            return {
                loggedIn: false,
                code: null,
                form: {
                    email: '',
                    password: ''
                },
                show: true,
                login: process.env.ALABO_URL + 'oauth/authorize?client_id=' + process.env.CLIENT_ID + '&redirect_uri=' + process.env.REDIRECT_URL + '&state=this&response_type=token',
                signup: process.env.PARIWO_URL + 'register/?client_id=' + process.env.CLIENT_ID + '&redirect_uri=' + process.env.REDIRECT_URL + '&state=this&response_type=token'
            }
        },
        created () {
            if (this.$route.path.includes('logout')) {
                auth.logout();
                window.location.replace(process.env.CLIENT_BASE_URL);
            }
            this.code = this.$route.hash.replace('#access_token=', '');
            if (this.code) {
                auth.login(this.code);
            }
            if (auth.loggedIn()) {
                window.location.replace(process.env.CLIENT_BASE_URL + '/dashboard');
            }
        },
        methods: {
            onSubmit (evt) {
                evt.preventDefault();
                alert(JSON.stringify(this.form));
            },
            onReset (evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.email = '';
                this.form.password = '';
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => { this.show = true });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-size: .75em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: .4rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#login {
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
}

#login a {
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    font-weight: 200;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

#login a:hover {
    cursor: pointer;
    color: #3c3b3b !important;
}

#login .login {
    background-color: #f88a27;
    color: #fbfcf8;
}

#login .signup {
    background-color: #8c7b73;
    color: #fbfcf8;
}
</style>
