<template>
    <div id="blackthot_write" class="write">
        <div v-if="writing">
            <div class="saved" v-if="saving">
               Saved!
            </div>
            <div class="action">
                <button @click="cancelWriting" class="save">Cancel</button> &nbsp; <button @click="saveContent" class="save">Save</button> &nbsp; <button @click="publish" class="publish">Publish</button>
            </div>
            <vue-editor
                    id="titleEditor"
                    class="title"
                    :editorOptions="titleSettings"
                    v-model="title">
            </vue-editor>
            <vue-editor
                    id="bodyEditor"
                    class="body"
                    :customModules="customModulesForEditor"
                    :editorOptions="editorSettings"
                    v-model="content">
            </vue-editor>
        </div>
        <div v-else>
            Published!
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import axios from 'axios'
    import auth from '../auth'
    import { VueEditor } from 'vue2-editor'
    import { ImageDrop } from 'quill-image-drop-module'
    import ImageResize from 'quill-image-resize-module'
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'

    export default {
        created () {
            if (this.$route.name === 'edit') {
                this.getPost(this.$route.params.id);
            }
        },
        components: {
            VueEditor
        },
        methods: {
            getPost (id) {
                axios
                    .get(this.endpoint + id, { headers: {'Authorization': 'Bearer ' + auth.getToken()} })
                    .then(response => {
                        this.title = response.data.data.title;
                        this.content = response.data.data.body;
                        this.endpoint = process.env.API_URL + 'stories/' + id;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            cleanTitle (title) {
                let temp = document.createElement("div");
                temp.innerHTML = title;
                return temp.textContent || temp.innerText || "";
            },
            cancelWriting: function() {
                window.location.replace(process.env.CLIENT_BASE_URL + '/dashboard');
            },
            published: function(data) {
                this.writing = false;
                window.location.replace(process.env.CLIENT_BASE_URL + '/dashboard/?published=' + data.id);
            },
            saved: function(data) {
                this.saving = true;
                setTimeout(() => this.saving=false, 1500);
            },
            prepContent: function() {
                return {
                    title: this.cleanTitle(this.title),
                    body: this.content,
                    slug: this.slug,
                    collection_id: 11,
                    client_id: 6
                };
            },
            saveContent: function(data) {
                let story = this.prepContent();
                story.status = 2;
                this.postStory(story)
            },
            postStory: function(story) {
                axios
                    .post(
                        this.endpoint,
                        story,
                        { headers: { 'Authorization': 'Bearer ' + auth.getToken()} },
                    )
                    .then(response => {
                        if (story.status === 1) {
                            this.published(response.data.data);
                        } else {
                            this.saved(response.data.data);
                            this.savedId = response.data.data.id
                            this.endpoint = process.env.API_URL + 'stories/' + this.savedId;
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            publish: function() {
                let story = this.prepContent();
                story.status = 1;
                this.postStory(story)
            }
        },

        data() {
            return {
                writing: true,
                saving: false,
                savedId: null,
                endpoint: process.env.API_URL + 'stories/',
                content: 'Write here.',
                title: 'Title It',
                slug: 'title-it',
                customModulesForEditor: [
                    { alias: 'imageDrop', module: ImageDrop },
                    { alias: 'imageResize', module: ImageResize }
                ],
                editorSettings: {
                    theme: 'bubble',
                    modules: {
                        imageDrop: true,
                        imageResize: {}
                    }
                },
                titleSettings: {
                    theme: "bubble"
                }
            }
        }
    }
</script>

<style>
    #blackthot_write .ql-container.ql-snow { border: 0; }
    .quillWrapper { background-color: #ffffff; clear:both; }
    .quillWrapper.body { height: 80vh; }
    .quill-editor:not(.bubble) .ql-container,
    .quill-editor:not(.bubble) .ql-container .ql-editor {
        min-height: 30rem;
        padding-bottom: 1rem;
    }
    #titleEditor .ql-editor {
        min-height: 70px;
        font-size: 2em;
        border-bottom: 2px solid #F4F4F4;
    }
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    #titleEditor .ql-toolbar {
        display: none;
    }
    .saved {
        background-color: orange;
        color: #ffffff;
        text-align: center;
        padding: 0 20px;
    }
    .action button {
        color: #ffffff !important;
    }
    .action button.save {
        background-color: #FE8B24;
        /*background-color: #FFD745;*/
    }
    .action button.publish {
        background-color: #158474;
    }

    #wrapper.write {
        padding: 0.5em;
    }
</style>

<style lang="scss" scoped>
    .quill-editor,
    .quill-code {
        width: 50%;
        float: left;
    }

    .quill-code {
        height: auto;
        border: none;

        > .title {
            border: 1px solid #ccc;
            border-left: none;
            height: 3em;
            line-height: 3em;
            text-indent: 1rem;
            font-weight: bold;
        }

        > code {
            width: 100%;
            margin: 0;
            padding: 1rem;
            border: 1px solid #ccc;
            border-top: none;
            border-left: none;
            border-radius: 0;
            height: 30rem;
            overflow-y: auto;
        }
    }
</style>
