<template>
    <div id="main">
        <black-thot-post-card
                v-for="post in posts"
                v-if="isPublished(post)"
                :key="post.id"
                active-class="is-active"
                class="link"
                :id="post.id"
                :post="post"
                :to="{ name: 'thot', params: { id: post.id } }">
            <li>{{post.id}}. {{post.title}}</li>
        </black-thot-post-card>

      <!-- Pagination -->
      <ul class="actions pagination">
        <li><a href="" class="disabled button big previous">Previous Page</a></li>
        <li><a href="#" class="button big next">Next Page</a></li>
      </ul>

    </div>

</template>

<script>
    /* eslint-disable */
    import BlackThotPostCard from "./posts/BlackThotPostCard";
    import axios from 'axios';
    import auth from '../auth';
    export default {
        name: 'BlackThotHome',
        components: {BlackThotPostCard},
        data () {
            return {
                msg: 'A PARIWO Platform',
                posts: [],
                endpoint: process.env.API_URL + 'platforms/10/all/',
                token: process.env.API_CLIENT_TOKEN
            }
        },
        created () {
            this.getAllPosts();
            this.checkToken();
        },

        methods: {
            getAllPosts () {
                axios
                    .get(this.endpoint, { headers: {'Authorization': 'Bearer ' + this.token} })
                    .then(response => {
                        this.posts = response.data.data.reverse();
                    })
                    .catch(error => {
                    })
            },
            isPublished (post) {
                return post.collections[0].status === 1;
            },
            checkToken () {
                if (this.$route.query.token) {
                    auth.login(this.$route.query.token);
                }
            }
        }
    }
</script>
