<template>
    <header id="header">
        <h1><a :href="home_url">BlackThot</a></h1>
        <nav class="links">
            <ul>
                <li>
                    <router-link
                            active-class="is-active"
                            class="link"
                            :to="{ name: 'HomePage'}">
                        Read
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            class="link"
                            :to="{ name: 'write'}">
                        Write
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            class="link"
                            :to="{ name: 'dashboard'}">
                        Dashboard
                    </router-link>
                </li>
                <li v-else>
                    <router-link
                            active-class="is-active"
                            class="link"
                            :to="{ name: 'login'}">
                        Login
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            class="link"
                            :to="{ name: 'logout'}">
                        Logout
                    </router-link>
                </li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="#">
                        <input type="text" name="query" placeholder="Search" />
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
    import auth from '../../auth'
    import config from '../../../pariwo'
    export default {
        name: 'BlackThotHeader',
        props: ['state'],
        data () {
            return {
                loggedIn: null,
                page: null,
                showLogin: false,
                home_url: config.CLIENT_BASE_URL
            }
        },
        created () {
            this.updateState();
        },
        methods: {
            updateState () {
                this.loggedIn = auth.loggedIn();
                this.showLogin = !(this.loggedIn || this.$route.path.includes('login'));
            }
        },
        watch: {
            $route (to, from) {
                this.updateState();
            }
        }
    }
</script>
