<template>
    <section id="sidebar">

        <!-- Intro -->
        <section v-if="showIntro" id="intro">
            <header>
                <h2>BlackThot</h2>
                <p>Radical, Ratchet, Righteous</p>
            </header>
        </section>

        <!-- Mini Posts -->
        <section>
            <div class="mini-posts">

                <!-- Mini Post -->
                <!--<article class="mini-post">-->
                    <!--<header>-->
                        <!--<h3><a href="#">Vitae sed condimentum</a></h3>-->
                        <!--<time class="published" datetime="2015-10-20">October 20, 2015</time>-->
                        <!--<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>-->
                    <!--</header>-->
                    <!--<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>-->
                <!--</article>-->

            </div>
        </section>

        <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p><span class="blackthot">Blackthot</span> is a production of <span class="pariwo">Pariwo</span>. Your silence will not protect you. Make noise!</p>
            <!--<ul class="actions">-->
                <!--<li><a href="#" class="button">Learn More</a></li>-->
            <!--</ul>-->
        </section>

        <!-- Footer -->
        <black-thot-footer></black-thot-footer>

    </section>
</template>

<script>
    // import auth from '../../auth'
    // import config from '../../../pariwo'
    import BlackThotFooter from '@/components/common/BlackThotFooter'
    export default {
        name: 'BlackThotSidebar',
        components: {
            BlackThotFooter
        },
        data () {
            return {
                showIntro: true
            }
        },
        created () {
            this.intro();
        },
        methods: {
            intro () {
                this.showIntro = !this.$route.path.includes('write');
            }
        },
        watch: {
            $route (to, from) {
                this.intro()
            }
        }
    }
</script>
