<template>
    <section id="menu">
        <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <router-link
                            active-class="is-active"
                            :to="{ name: 'HomePage'}">
                        Read
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            :to="{ name: 'write'}">
                        Write
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            :to="{ name: 'dashboard'}">
                        Dashboard
                    </router-link>
                </li>
                <li v-if="loggedIn">
                    <router-link
                            active-class="is-active"
                            :to="{ name: 'logout'}">
                        Logout
                    </router-link>
                </li>
                <li v-else>
                    <router-link
                            active-class="is-active"
                            :to="{ name: 'login'}">
                        Login
                    </router-link>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log In</a></li>
            </ul>
        </section>

    </section>
</template>

<script>
    import auth from '../../auth'
    export default {
        name: 'BlackThotMenu',
        data () {
            return {
                loggedIn: false
            }
        },
        created () {
            this.loggedIn = auth.loggedIn();
        },
        methods: {
        },
        watch: {
            $route (to, from) {
            }
        }
    }
</script>
