<template>
    <div id="app">
        <div id="wrapper" :class="page">
            <black-thot-header></black-thot-header>
            <black-thot-menu></black-thot-menu>
            <section id="main">
                <router-view/>
            </section>
            <black-thot-sidebar></black-thot-sidebar>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import BlackThotHeader from '@/components/common/BlackThotHeader'
    import BlackThotMenu from '@/components/common/BlackThotMenu'
    import BlackThotSidebar from '@/components/common/BlackThotSidebar'
    window.JQuery = require('./js/jquery.js');
    window.$ = JQuery;
    require('./js/main.js');
    export default {
        name: 'App',
        components: {
            BlackThotHeader,
            BlackThotMenu,
            BlackThotSidebar
        },
        data () {
            return {
                page: ''
            }
        },
        created () {
            this.page = this.$route.name;
        }
    }
</script>

<style>
</style>
